.home-box {
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  margin-top: 60px;
  padding-top: 25px;
}
.home-wrapper {
  display: flex;
  justify-content: space-between;
}
.my-account {
  width: 25%;
}
.create-account {
  width: 43%;
}
.all-page {
  width: 27%;
}
