.home-box {
  width: 100%;
  background-color: var(--body-color);

  padding-top: 75px;
}
.home-wrapper {
  display: flex;
  justify-content: space-between;
}
.my-account {
  width: 25%;
}
.create-account {
  width: 43%;
}
.all-page {
  width: 27%;
}
