.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.registration-box {
  width: 500px;
  height: 500px;
}
.linkin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkin-icon svg {
  width: 40px;
  height: 40px;
}
.linkin-icon svg path {
  fill: var(--primary-color);
}
.registration-heading h1 {
  text-align: center;
  font-family: var(--nunito);
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
  text-transform: capitalize;
}
.registration-heading h4 {
  text-align: center;
  font-family: var(--nunito);
  font-size: 20px;
  font-weight: 400;
  opacity: 0.5;
  padding-bottom: 20px;
}
.registration-form {
  padding: 0 30px;
}
.reg-btn {
  border-radius: 86px !important;
}
