.my-accout-wrapper {
  padding-bottom: 20px;
  background-color: var(--white-color);
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.cover-img {
  width: 100%;
  height: 60px;
}
.cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigate-profile {
  cursor: pointer;
}
.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userName {
  margin-top: 40px;
  text-align: center;
}
.userName h1 {
  font-family: var(--white-color);
  color: var(--black-color);
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.userName h1:hover {
  text-decoration: underline;
}
.userBio {
  text-align: center;
}
.userBio p {
  font-family: var(--white-color);
  color: var(--gray);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  padding: 5px 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.connect {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  background-color: transparent;
  margin-top: 10px;
  transition: all linear 0.3s;
  cursor: pointer;
}
.connect:hover {
  background-color: rgba(196, 196, 196, 0.592);
}
.connect-text h4 {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 500;
  color: var(--gray);
}
.connect-text h5 {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 600;
  color: rgb(69, 68, 68);
}
.connect-number h3 {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 600;
  color: rgb(54, 88, 199);
}
.invitation {
  display: flex;
  justify-content: space-between;
  padding: 2px 15px;
  margin-top: 8px;
  background-color: transparent;
  transition: all linear 0.3s;
  cursor: pointer;
}
.invitation:hover {
  background-color: rgba(196, 196, 196, 0.592);
}
.invitation-text h2 {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 500;
  color: var(--gray);
}
.invitation-number h3 {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 600;
  color: rgb(54, 88, 199);
}
