.container {
  padding: 10px 15px 20px 15px;
  background-color: var(--white-color);
  border-radius: 7px;
}
.create-post-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-profile {
  width: 8%;
}
.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-write-box {
  width: 88%;
}
.user-write-box input {
  background-color: transparent;
  border-radius: 50px;
  width: 80%;
}
.user-write-box input:hover {
  background-color: rgba(171, 171, 171, 0.307);
}
.modal-header {
  display: flex;
}
.modal-user-name {
  padding-left: 20px;
  font-family: var(--white-color);
  color: var(--black-color);
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}
.modal-write-box textarea {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 20px;
}
