.navbar-main {
  background-color: var(--white-color);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}
.nav-logo {
  width: 5%;
}
.nav-logo img {
  transform: scale(0.8);
}
.nav-search {
  width: 25%;
}
.nav-menu {
  width: 68%;
}
.nav-menu ul {
  display: flex;
  justify-content: center;
}
.nav-menu ul li {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-search {
  position: relative;
}
.nav-search input {
  background-color: var(--body-color);
  border-radius: 5px;
  padding-left: 35px;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 3%;
  z-index: 1;
  transform: translateY(-50%);
}

.search-icon svg {
  font-size: 25px;
}
.search-icon svg path {
  fill: gray;
}
.usericon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
}
.nav-icon svg {
  fill: #555;
}
.nav-menu ul li:hover .nav-icon svg {
  fill: black;
}
.nav-list {
  font-size: 13px;
  font-family: var(--nunito);
  font-weight: 400;
  color: #555;
}
.nav-menu ul li:hover .nav-list {
  color: black;
}
