* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

:root {
  --primary-color: #086fa4;
  --secondary-color: #11175d;
  --nunito: "Nunito", sans-serif;
  --error-color: #e97373;
  --white-color: #fff;
  --body-color: #e5e5e5;
}
